body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: #fff7ec;
}

.hide {
  display: none;
}

#footer {
  height: 65px;
  background: #e5f3e9;
}
