body {
  margin: 0;
  background: #fff7ec;
}

ol li {
  text-align: center;
  list-style-type: none;
}

.hide {
  display: none;
}

li span {
  color: #ff7f66;
  margin-right: 10px;
  margin-left: 10px;
}

#footer {
  background-color: #e5f3e9;
  position: absolute;
  bottom:0;
  height: 65px;
  width: 100%
}

#scroll p {
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: Roboto;
  font-weight: 400;
}
